<h1>Show Friendship</h1>

<ul>

  <li>
    <strong>User1:</strong>
    <%= @friendship.user1 %>
  </li>

  <li>
    <strong>User2:</strong>
    <%= @friendship.user2 %>
  </li>

  <li>
    <strong>Accepted:</strong>
    <%= @friendship.accepted %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.friendship_path(@conn, :edit, @friendship) %></span>
<span><%= link "Back", to: Routes.friendship_path(@conn, :index) %></span>
