<h1>Show Debt</h1>

<ul>

  <li>
    <strong>Creator:</strong>
    <%= @debt.creator %>
  </li>

  <li>
    <strong>Debtor:</strong>
    <%= @debt.debtor %>
  </li>

  <li>
    <strong>Value:</strong>
    <%= @debt.value %>
  </li>

  <li>
    <strong>Reminder:</strong>
    <%= @debt.reminder %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.debt_path(@conn, :edit, @debt) %></span>
<span><%= link "Back", to: Routes.debt_path(@conn, :index) %></span>
